<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Minecraft PE</string>
	<key>CFBundleExecutable</key>
	<string>minecraftpe</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon_lite.png</string>
		<string>Icon@2x_lite.png</string>
		<string>Icon-Small_lite.png</string>
		<string>Icon-Small-50_lite.png</string>
		<string>Icon-Small@2x_lite.png</string>
		<string>Icon-72_lite.png</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Icon_lite.png</string>
				<string>Icon@2x_lite.png</string>
				<string>Icon-Small_lite.png</string>
				<string>Icon-Small-50_lite.png</string>
				<string>Icon-Small@2x_lite.png</string>
				<string>Icon-72_lite.png</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.mojang.minecraftpe</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Minecraft PE</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.6.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.6.0.0</string>
	<key>LDEBundleIdentifier</key>
	<string>com.damisssmtz.mcpe</string>
	<key>LDEBundleShortVersion</key>
	<string>1.0</string>
	<key>LDEBundleVersion</key>
	<string>1.0</string>
	<key>LDECompilerFlags</key>
	<array>
		<string>-I.</string>
		<string>-I$(SRCROOT)/Sources</string>
		<string>-I$(SRCROOT)</string>
		<string>-I$(SRCROOT)/Sources/raknet</string>
		<string>-I$(SRCROOT)/lib_projects/InAppSettingsKit/Models</string>
		<string>-I$(SRCROOT)/lib_projects/InAppSettingsKit/Controllers</string>
		<string>-I$(SRCROOT)/lib_projects/InAppSettingsKit/Views</string>
		<string>-I$(SRCROOT)/lib_projects/SLES</string>
		<string>-Wno-c++11-narrowing</string>
		<string>-Wno-narrowing</string>
		<string>-std=c++14</string>
		<string>-DOPENGL_ES</string>
		<string>-DGLES_SILENCE_DEPRECATION</string>
		<string>-g</string>
		<string>-O0</string>
	</array>
	<key>LDEDisplayName</key>
	<string>Minecraft</string>
	<key>LDEExecutable</key>
	<string>minecraftpe</string>
	<key>LDELinkerFlags</key>
	<array>
		<string>-framework</string>
		<string>UIKit</string>
		<string>-framework</string>
		<string>Foundation</string>
		<string>-framework</string>
		<string>CoreGraphics</string>
		<string>-framework</string>
		<string>QuartzCore</string>
		<string>-framework</string>
		<string>OpenGLES</string>
		<string>-framework</string>
		<string>AVFoundation</string>
		<string>-framework</string>
		<string>OpenAL</string>
		<string>-framework</string>
		<string>AudioToolbox</string>
		<string>-lz</string>
	</array>
	<key>LDEMinimumVersion</key>
	<string>15.0</string>
	<key>LDEVersion</key>
	<string>26.5</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>UIAppFonts</key>
	<array>
		<string>minecraft.ttf</string>
	</array>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiresPersistentWiFi</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
