<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Minecraft PE</string>
	<key>CFBundleExecutable</key>
	<string>minecraftpe</string>
	<key>CFBundleIconFile</key>
	<string>Icon.png</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon.png</string>
		<string>Icon@2x.png</string>
		<string>Icon@3x.png</string>
		<string>Icon-60.png</string>
		<string>Icon-60@2x.png</string>
		<string>Icon-60@3x.png</string>
		<string>Icon-72.png</string>
		<string>Icon-76.png</string>
		<string>Icon-76@2x.png</string>
		<string>Icon-83.5@2x.png</string>
		<string>Icon-40.png</string>
		<string>Icon-40@2x.png</string>
		<string>Icon-40@3x.png</string>
		<string>Icon-Small.png</string>
		<string>Icon-Small-50.png</string>
		<string>Icon-Small@2x.png</string>
		<string>AppIcon.png</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Icon.png</string>
				<string>Icon@2x.png</string>
				<string>Icon@3x.png</string>
				<string>Icon-60.png</string>
				<string>Icon-60@2x.png</string>
				<string>Icon-60@3x.png</string>
				<string>Icon-76.png</string>
				<string>Icon-76@2x.png</string>
				<string>Icon-83.5@2x.png</string>
				<string>AppIcon.png</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.mojang.minecraftpe</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Minecraft PE</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.6.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.6.0.0</string>
	<key>LDEBundleIdentifier</key>
	<string>com.damisssmtz.mcpe</string>
	<key>LDEBundleInfo</key>
	<dict>
		<key>GCSupportsControllerUserInteraction</key>
		<true/>
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSAllowsArbitraryLoads</key>
			<true/>
		</dict>
		<key>NSBluetoothAlwaysUsageDescription</key>
		<string>Scarlett utiliza el Bluetooth para detectar y conectar tu mando de consola (Xbox/PlayStation) para los minijuegos.</string>
		<key>NSBonjourServices</key>
		<array>
			<string>_scarlett-game._tcp</string>
			<string>_scrlt-tron._udp</string>
		</array>
		<key>NSCameraUsageDescription</key>
		<string>Scarlett necesita acceder a la cámara frontal para utilizar la tecnología de seguimiento ocular (Eye-Tracking) y cambiar las páginas de forma interactiva.</string>
		<key>NSLocalNetworkUsageDescription</key>
		<string>Scarlett usa la red local para conectar con otros jugadores cercanos por Bluetooth o Wi-Fi.</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>Scarlett necesita tu ubicación para mostrarte el clima local exacto.</string>
		<key>NSMicrophoneUsageDescription</key>
		<string>Scarlett necesita acceso al micrófono para escucharte y procesar tus comandos de voz.</string>
		<key>NSPhotoLibraryAddUsageDescription</key>
		<string>Necesitamos acceso para guardar las imágenes que descargues a tu galería.</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>Scarlett necesita acceder a tus fotos para que puedas seleccionar imágenes y enviarlas como adjuntos.</string>
		<key>NSSpeechRecognitionUsageDescription</key>
		<string>Scarlett necesita el reconocimiento de voz para entender lo que dices y responderte de forma inteligente.</string>
		<key>UIBackgroundModes</key>
		<array>
			<string>audio</string>
		</array>
	</dict>
	<key>LDEBundleShortVersion</key>
	<string>1.0</string>
	<key>LDEBundleVersion</key>
	<string>1.0</string>
	<key>LDECompilerFlags</key>
	<array>
		<string>-w</string>
		<string>-I.</string>
		<string>-I$(SRCROOT)/Sources</string>
		<string>-I$(SRCROOT)</string>
		<string>-I$(SRCROOT)/Sources/raknet</string>
		<string>-I$(SRCROOT)/Sources/dialogs</string>
		<string>-I$(SRCROOT)/Sources/InAppSettingsKit/Models</string>
		<string>-I$(SRCROOT)/Sources/InAppSettingsKit/Controllers</string>
		<string>-I$(SRCROOT)/Sources/InAppSettingsKit/Views</string>
		<string>-I$(SRCROOT)/lib_projects/SLES</string>
		<string>-I$(SRCROOT)/Sources/client/particle</string>
		<string>-I$(SRCROOT)/Sources/client/gui</string>
		<string>-I$(SRCROOT)/Sources/minecraftpe</string>
		<string>-I$(SRCROOT)/Sources/locale</string>
		<string>-I$(SRCROOT)/Sources/server</string>
		<string>-I$(SRCROOT)/Sources/util</string>
		<string>-I$(SRCROOT)/Sources/platform</string>
		<string>-I$(SRCROOT)/Sources/network</string>
		<string>-I$(SRCROOT)/Sources/nbt</string>
		<string>-I$(SRCROOT)/Sources/world</string>
		<string>-I$(SRCROOT)/Sources/client</string>
		<string>-fno-objc-arc</string>
		<string>-Wno-c++17-narrowing</string>
		<string>-Wno-narrowing</string>
		<string>-std=gnu++14</string>
		<string>-D_DARWIN_C_SOURCE</string>
		<string>-DOPENGL_ES</string>
		<string>-DGLES_SILENCE_DEPRECATION</string>
		<string>-g</string>
		<string>-O0</string>
	</array>
	<key>LDEDisplayName</key>
	<string>Minecraft</string>
	<key>LDEExecutable</key>
	<string>minecraftpe</string>
	<key>LDELinkerFlags</key>
	<array>
		<string>-undefined</string>
		<string>dynamic_lookup</string>
		<string>-v</string>
		<string>-framework</string>
		<string>SystemConfiguration</string>
		<string>-framework</string>
		<string>CFNetwork</string>
		<string>-framework</string>
		<string>Security</string>
		<string>-framework</string>
		<string>UIKit</string>
		<string>-framework</string>
		<string>Foundation</string>
		<string>-framework</string>
		<string>CoreGraphics</string>
		<string>-framework</string>
		<string>QuartzCore</string>
		<string>-framework</string>
		<string>OpenGLES</string>
		<string>-framework</string>
		<string>AVFoundation</string>
		<string>-framework</string>
		<string>OpenAL</string>
		<string>-framework</string>
		<string>AudioToolbox</string>
		<string>-framework</string>
		<string>MessageUI</string>
		<string>-lz</string>
		<string>-lc++</string>
		<string>-ObjC</string>
		<string>-lc</string>
		<string>-framework</string>
		<string>AVKit</string>
		<string>-framework</string>
		<string>MediaPlayer</string>
		<string>-framework</string>
		<string>UserNotifications</string>
		<string>-framework</string>
		<string>GameController</string>
		<string>-framework</string>
		<string>CoreHaptics</string>
		<string>-framework</string>
		<string>MultipeerConnectivity</string>
		<string>-framework</string>
		<string>CoreMedia</string>
		<string>-framework</string>
		<string>Vision</string>
		<string>-framework</string>
		<string>CoreImage</string>
		<string>-framework</string>
		<string>PhotosUI</string>
		<string>-framework</string>
		<string>CoreMotion</string>
		<string>-framework</string>
		<string>Metal</string>
		<string>-framework</string>
		<string>MetalKit</string>
		<string>-framework</string>
		<string>Accelerate</string>
		<string>-framework</string>
		<string>UniformTypeIdentifiers</string>
		<string>-framework</string>
		<string>SpriteKit</string>
		<string>-framework</string>
		<string>GameplayKit</string>
		<string>-framework</string>
		<string>MapKit</string>
		<string>-framework</string>
		<string>CoreLocation</string>
		<string>-framework</string>
		<string>NaturalLanguage</string>
		<string>-framework</string>
		<string>Speech</string>
		<string>-framework</string>
		<string>SafariServices</string>
		<string>-framework</string>
		<string>TensorFlowLiteC</string>
		<string>-lsqlite3</string>
		<string>-lclang_rt.ios</string>
	</array>
	<key>LDEMinimumVersion</key>
	<string>15.0</string>
	<key>LDEVersion</key>
	<string>26.5</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>UIAppFonts</key>
	<array>
		<string>minecraft.ttf</string>
	</array>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiresPersistentWiFi</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
